@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

h1{
  font-family: "Orbitron", "sans-serif";
  
  
  letter-spacing: 3px;
  color: #ff7bac;
  

}

h4{
  font-family: "Orbitron", "sans-serif";
  
  letter-spacing: 4px;
  color: #ffffff;
  

}

.btn-rosa{
  font-family: "Orbitron", "sans-serif";

  background: #ff7bac;
}
